<div id="pdfTable" #pdfTable>
  <h2>HTML To PDF</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ajay</td>
        <td>Malhotra</td>
        <td>Therichpost.com</td>
      </tr>
      <tr>
        <td>Ajay</td>
        <td>Malhotra</td>
        <td>Therichpost.com</td>
      </tr>
      <tr>
        <td>Ajay</td>
        <td>Malhotra</td>
        <td>Therichpost.com</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
