<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div style="width: 300px;margin: 50px 50px">
    <input id="e2e-username" class="distance" type="text" nz-input placeholder="请输入账号" required minlength="6" [(ngModel)]="username" name="name"
      #name="ngModel">
    <div *ngIf="name.errors?.minlength">
      账号必须大于6位
    </div>
    <input id="e2e-password" class="distance" type="password" nz-input placeholder="请输入密码" required minlength="6" [(ngModel)]="passowrd"
      name="pwd" #pwd="ngModel">
    <div *ngIf="pwd.errors?.minlength">
      密码必须大于6位
    </div>
    <label class="distance" nz-checkbox [(ngModel)]="remember" name="check">
      <span>记住我</span>
    </label>
    <a class="distance" style="float:right">忘记密码</a>
    <button id="e2e-login-button" type="submit" [disabled]="!loginForm.form.valid" class="distance" nz-button [nzType]="'primary'" style="width: 300px">登录</button>
  </div>
</form>
